@{
    ViewData["Title"] = "WorldCup";
}

@*<div class="wrapper">
    <div class="filt">
        <div class="tran1">
        </div>
    </div>
</div>*@

<table class="KAIX8d">
    <tbody>
        <tr class="S6bEgc">
            <td class="lc"></td>
            <td></td>
            <td class="imspo_mt__rg"></td>
            <td class="h8T7ab"></td>
            <td class="imspo_mt__sc"></td>
            <td class="G6pHwb" style="width:0px"></td>
        </tr>
        <tr><td class="BAX2sc" colspan="6"><div class="imspo_mt__lg-st-co"><span>Bảng E</span></div></td></tr>
        <tr><td colspan="3"></td><td class="kwbMAe" rowspan="5"></td><td rowspan="5" class="GOsQPe imspo_mt__wt"><div class="imspo_mt__ms-w"><div><div class="imspo_mt__ns-pm-s"><div class="imspo_mt__pm-inf imspo_mt__pm-infc imspo_mt__date imso-medium-font">Th 6, 02/12</div><div class="imspo_mt__ndl-p imspo_mt__pm-inf imspo_mt__pm-infc imso-medium-font">02:00</div></div></div></div></td><td></td></tr>
        <tr><td></td></tr>
        <tr class="L5Kkcd"><td class="imspo_mt__lgc lc" data-df-team-mid="/m/03xh50"><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/by4OltvtZz7taxuQtkiP3A_48x48.png" style="width:24px;height:24px"></td><td class="tns-c imspo_mt__tt-w imspo_mt__dt-t"><div class="ellipsisize" data-df-team-mid="/m/03xh50"><div class="liveresults-sports-immersive__hide-element">Nhật Bản</div></div></td><td class="imspo_mt__rg"></td></tr>
        <tr class="L5Kkcd"><td class="imspo_mt__lgc lc" data-df-team-mid="/m/02w64f"><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/5hLkf7KFHhmpaiOJQv8LmA_48x48.png" style="width:24px;height:24px"></td><td class="tns-c imspo_mt__tt-w imspo_mt__dt-t"><div class="ellipsisize" data-df-team-mid="/m/02w64f"><div class="liveresults-sports-immersive__hide-element">Tây Ban Nha</div><span></span></div></td><td class="imspo_mt__rg"></td></tr>
        <tr><td></td></tr>
        <tr class="bN3Vue"></tr>
    </tbody>
</table>
<br>

<table class="KAIX8d">
    <tbody>
        <tr class="S6bEgc"><td class="lc"></td><td></td><td class="imspo_mt__rg"></td><td class="h8T7ab"></td><td class="imspo_mt__sc"></td><td class="G6pHwb" style="width:0px"></td></tr>
        <tr><td class="BAX2sc" colspan="6"><div class="imspo_mt__lg-st-co"><span>Bảng E</span></div></td></tr>
        <tr><td colspan="3"></td><td class="kwbMAe" rowspan="5"></td><td rowspan="5" class="GOsQPe imspo_mt__wt"><div class="imspo_mt__ms-w"><div><div class="imspo_mt__ns-pm-s"><div class="imspo_mt__pm-inf imspo_mt__pm-infc imspo_mt__date imso-medium-font">Th 6, 02/12</div><div class="imspo_mt__ndl-p imspo_mt__pm-inf imspo_mt__pm-infc imso-medium-font">02:00</div></div></div></div></td><td></td></tr>
        <tr><td></td></tr>
        <tr class="L5Kkcd"><td class="imspo_mt__lgc lc" data-df-team-mid="/m/03zb6t"><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/ixZiM5pj2IvvYc15k-zfeQ_48x48.png" style="width:24px;height:24px"></td><td class="tns-c imspo_mt__tt-w imspo_mt__dt-t"><div class="ellipsisize" data-df-team-mid="/m/03zb6t"><div class="liveresults-sports-immersive__hide-element">Costa Rica</div><span></span></div></td><td class="imspo_mt__rg"></td></tr>
        <tr class="L5Kkcd">
            <td class="imspo_mt__lgc lc" data-df-team-mid="/m/01l3wr"><img class="imso_btl__mh-logo" alt="" src="//ssl.gstatic.com/onebox/media/sports/logos/h1FhPLmDg9AHXzhygqvVPg_48x48.png" style="width:24px;height:24px"></td>
            <td class="tns-c imspo_mt__tt-w imspo_mt__dt-t">
                <div class="ellipsisize" data-df-team-mid="/m/01l3wr">
                    <div class="liveresults-sports-immersive__hide-element">Đức</div>

                </div>
            </td>
            <td class="imspo_mt__rg"></td>
        </tr>
        <tr><td></td></tr>
        <tr class="bN3Vue"></tr>
    </tbody>
</table>

